[submodule "ip/peridot_peripherals"]
	path = ip/peridot_peripherals
	url = https://github.com/kimushu/peridot_peripherals.git
[submodule "ip/peridot_gen1_peripherals"]
	path = ip/peridot_gen1_peripherals
	url = https://github.com/kimushu/peridot_gen1_peripherals.git
[submodule "ip/peridot_sw_packages"]
	path = ip/peridot_sw_packages
	url = https://github.com/kimushu/peridot_sw_packages.git
[submodule "ip/flash_writer"]
	path = ip/flash_writer
	url = https://github.com/kimushu/flash_writer.git
